html,
body {
  min-width: 1122px;
  min-height: 1750px;
  margin: 0;
  padding: 0;
}

body {
  font-style: normal;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  color: #000;
  text-transform: uppercase;
  background: url(../img/barbershop-background.jpg);
}

.caption1 {
  font-size: 30px;
  line-height: 42px;
}

.item-caption2 {
  font-size: 24px;
  line-height: 30px;
}

.product-header {
  background-color: black;
  margin-bottom: 60px;
}

.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

.product-navigation {
  width: 780px;
  float: left;
  height: 72px;
}

.user-block {
  width: 140px;
  float: right;
  height: 72px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.product-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
  background: url(../img/footer-background.jpg);
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
  min-height: 90px;
}

.footer-social {
  float: left;
  width: 180px;
  min-height: 90px;
}

.footer-copyright {
  float: right;
  width: 180px;
  min-height: 90px;
}
