
body {
  margin: 0 0 0 0;
  background: url(../img/barbershop-background.jpg);
  font-style: normal;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

/* Шапка */

.product-header {
  background-color: black;
  margin-bottom: 49px;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.product-navigation {
  float: left;
  width: 780px;
  height: 72px;
  display: inline-flex;
  align-items: center;
}

.product-navigation ul,
.product-navigation ul li {
  display: inline-block;
  padding: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.product-header a {
  padding: 25px 15px;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: white;
}

.user-block {
  position: relative;
  float: right;
  padding-left: 30px;
}

.user-block a::before {
  content: "";
  position: absolute;
  right: 66px;
  top: 26px;
  height: 20px;
  width: 20px;
  background-image: url(../img/icon-login1.png);
  background-repeat: no-repeat;
  opacity: 0.3;
}

.login {
  position: relative;
  display: inline-block;
  padding: 20px 0 20px 0;
  padding-left: 50px;
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
}

.user-block:hover {
  background-color: #242424;
}

.user-block:hover a::before {
  opacity: 1;
}

/* Основное содержание страницы каталога */
/* Навигация 2 */

.caption1 {
  font-size: 30px;
  line-height: 42px;
}

.caption ul {
  margin-bottom: 43px;
  padding-left: 0;
}

.caption ul li:last-of-type a {
  color: #aba9a7;
}

.caption a {
  color: black;
  text-decoration: none;
}

.caption ul li {
  display: inline-block;
  padding-right: 24px;
  position: relative;
}

.caption ul li:not(:first-of-type) {
  margin-left: 13px;
}

.caption li:not(:last-of-type):after {
  content: "";
  position: absolute;
  bottom: 10px;
  right: -3px;

  display: block;
  width: 6px;
  height: 6px;

  background-color: black;
  transform: rotate(45deg);
}

.caption {
  position: relative;
}

/* Сортировка */

.sorter {
  display: inline-block;
  width: 220px;
  vertical-align: top;
}

.sorter1 {
  border: none;
  margin-bottom: 39px;
  padding-left: 0;
}

.sorter2 {
  border: none;
  padding-left: 0;
}

.sorter input {
  display: none;
}

.sorter1 legend, .sorter2 legend {
  font-size: 24px;
  line-height: 30px;
}

.sorter button {
  padding: 10px 29px;
  line-height: 18px;
  vertical-align: top;
  color: white;
  text-transform: uppercase;
  background-color: black;
  border: none;
  cursor: pointer;
  margin-left: 21px;
  font: inherit;
  margin-top: 36px;
}

.sorter label {
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
}

.sorter-checkbox {
  display: block;
  margin-top: 18px;
}

.sorter1 label::before {
  position: absolute;
  background: url(../img/checkbox.png) no-repeat;
  height: 20px;
  width: 20px;
  content: "";
}

.sorter2 label::before {
  position: absolute;
  background: url(../img/radiobutton.png) no-repeat;
  height: 20px;
  width: 20px;
  content: "";
}

.sorter span {
  margin-left: 42px;
}

.sorter1 input:checked + label::before {
  background: url(../img/checkbox-checked.png);
}

.sorter2 input:checked + label::before {
  background: url(../img/radio-checked.png);
}

/*.sorter-checkbox label:active::before {
  background-image: url(../img/checkbox-checked.png);
}*/

/* Блок карточек товара */

.card-container {
  display: inline-block;
  width: 706px;
  min-height: 594px;
  font-size: 0;
  margin-left: 31px;
}

.card-container article {
  display: inline-block;
  background-color: white;
  width: 220px;
  height: 286px;
  margin-bottom: 24px;
  font-size: 14px;
  box-shadow: 0 0 20px 0 rgba(193, 189, 189, 0.79)
}

.caption2 {
  margin-left: 21px;
  font-size: 14px;
  line-height: 18px;
  text-transform: none;
}

.name-product {
  display: block;
  line-height: 18px;
  text-transform: uppercase;
}

.card a {
  text-decoration: none;
  color: black
}

a.bth-buy {
  display: inline-block;
  padding: 13px 18px;
  line-height: 18px;
  vertical-align: top;
  color: white;
  text-transform: uppercase;
  background-color: black;
  border: none;
  cursor: pointer;
}

.bth-price {
  display: inline-block;
  padding: 13px 30px;
  line-height: 18px;
  vertical-align: top;
  color: black;
  text-transform: uppercase;
  background-color: #e5e5e5;
  border: none;
  cursor: pointer;
  margin-left: 15px;
}

.card:nth-child(3n-1) {
  margin-right: 20px;
  margin-left: 20px;
}

.pagination {
  clear: both;
  margin-left: 186px;
  margin-top: 18px;
}

.pagination li {
  display: inline-block;
  padding-left: 7px;
}

.pagination ul {
  display: inline-block;
  margin-left: 21px;
}

.pagination a {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 13px 18px 13px 18px;
}

label::after {

}

/* Страница товара */

.gallery {
  display: inline-block;
  width: 460px;
  vertical-align: top;
}

.item-right-column {
  display: inline-block;
  vertical-align: top;
  margin-left: 64px;
  width: 390px;
}

/* Подвал */

.product-footer {
  background: url(../img/footer-background.jpg);
  margin-top: 46px;
  padding-top: 60px;
  padding-bottom: 40px;
  color: white;
}

.product-footer a {
  color: white;
}

.product-footer a:hover {
  text-decoration: none;
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
  min-height: 90px;
}

.footer-social {
  float: left;
  width: 180px;
  text-align: center;
}

.footer-copyright {
  float: right;
  width: 180px;
  min-height: 90px;
  text-align: center;
}

.footer-social p,
.footer-copyright p {
  margin: 0;
  margin-bottom: 15px;
}

.social-bth-vk {
  background: #000000 url(../img/v.png) no-repeat center;
  padding: 11px 22px;
  margin-right: 9px;
}

.social-bth-fb {
  background: #000000 url(../img/f.png) no-repeat center;
  padding: 11px 22px;
  margin-right: 9px;
}

.social-bth-inst {
  background: #000000 url(../img/insta.png) no-repeat center;
  padding: 11px 22px;
}

.footer-copyright a {
  text-decoration: none;
  background-color: black;
  padding: 11px 30px;
}

.product-footer p {
  padding-bottom: 10px;
}
